openapi: 3.0.3
info:
  title: Unit Accounts Authorizations API
  description: Unit is a Banking-as-a-Service (BaaS) platform. This document is an API Evangelist consolidation of Unit's public REST surface, organized into logical groupings (Applications, Customers, Accounts, Cards, Authorizations, Payments, Counterparties, Checks, Transactions, Statements, Tax Forms, Events, Webhooks, Risk/Fraud, Credit/Repayments, Fees, Rewards, and API Tokens). All paths, methods, and the request/ response envelope below were confirmed against Unit's officially published OpenAPI 3.0.2 specification at github.com/unit-finance/openapi-unit-sdk (openapi.json, version 0.4.0); request/response bodies here are condensed and re-typed for readability rather than reproduced schema-for-schema. Unit's API follows the JSON:API specification - every request and response uses the `application/vnd.api+json` media type, wraps the primary resource in a top-level `data` object with `type`/`id`/`attributes`/`relationships`, and authenticates with a Bearer JWT obtained as an org API token or a customer API token.
  version: '1.0'
  contact:
    name: Unit
    url: https://www.unit.co
  license:
    name: Proprietary
    url: https://www.unit.co/legal/
servers:
- url: https://api.s.unit.sh
  description: Sandbox (confirmed - default server in Unit's published OpenAPI spec)
- url: https://api.unit.co
  description: Production (industry-standard Unit convention paired with the sandbox host; not independently re-confirmed against a live docs page in this research pass - verify with your Unit solution engineer)
security:
- bearerAuth: []
tags:
- name: Authorizations
  description: Completed card authorizations and real-time authorization requests.
paths:
  /authorizations:
    get:
      operationId: getAuthorizationsList
      tags:
      - Authorizations
      summary: Get List authorizations
      parameters:
      - $ref: '#/components/parameters/PageLimit'
      - $ref: '#/components/parameters/PageOffset'
      responses:
        '200':
          $ref: '#/components/responses/ResourceList'
  /authorizations/{authorizationId}:
    parameters:
    - name: authorizationId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getAuthorization
      tags:
      - Authorizations
      summary: Get Authorization by Id
      responses:
        '200':
          $ref: '#/components/responses/SingleResource'
  /authorization-requests:
    get:
      operationId: getAuthorizationRequestsList
      tags:
      - Authorizations
      summary: Get List Authorization Requests
      responses:
        '200':
          $ref: '#/components/responses/ResourceList'
  /authorization-requests/{authorizationId}:
    parameters:
    - name: authorizationId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getAuthorizationRequest
      tags:
      - Authorizations
      summary: Get Authorization Request by Id
      responses:
        '200':
          $ref: '#/components/responses/SingleResource'
  /authorization-requests/{authorizationId}/approve:
    parameters:
    - name: authorizationId
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: approveAuthorizationRequest
      tags:
      - Authorizations
      summary: Approve Authorization Request by Id
      responses:
        '200':
          $ref: '#/components/responses/SingleResource'
  /authorization-requests/{authorizationId}/decline:
    parameters:
    - name: authorizationId
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: declineAuthorizationRequest
      tags:
      - Authorizations
      summary: Decline Authorization Request
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        reason:
                          type: string
                          enum:
                          - AccountClosed
                          - CardExceedsAmountLimit
                          - DoNotHonor
                          - InsufficientFunds
                          - InvalidMerchant
                          - ReferToCardIssuer
                          - RestrictedCard
                          - TransactionNotPermittedToCardholder
      responses:
        '200':
          $ref: '#/components/responses/SingleResource'
components:
  schemas:
    JsonApiSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/JsonApiResource'
        included:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResource'
    JsonApiResource:
      type: object
      properties:
        type:
          type: string
          description: The JSON:API resource type, e.g. individualApplication, depositAccount, individualDebitCard, bookPayment, achPayment.
        id:
          type: string
        attributes:
          type: object
          additionalProperties: true
        relationships:
          type: object
          additionalProperties: true
    JsonApiListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResource'
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                total:
                  type: integer
                limit:
                  type: integer
                offset:
                  type: integer
  responses:
    ResourceList:
      description: A page of JSON:API resources.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/JsonApiListResponse'
    SingleResource:
      description: A single JSON:API resource.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/JsonApiSingleResponse'
  parameters:
    PageOffset:
      name: page[offset]
      in: query
      schema:
        type: integer
        default: 0
    PageLimit:
      name: page[limit]
      in: query
      schema:
        type: integer
        default: 100
        maximum: 1000
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer JWT issued as an org API token (Dashboard > Developers) or a customer API token. Sent as `Authorization: Bearer ${TOKEN}`. All request and response bodies use the `application/vnd.api+json` JSON:API media type.'
