openapi: 3.2.0
info:
  title: Unit Credit and Repayments API
  description: Unit is a Banking-as-a-Service (BaaS) platform.
  version: '1.0'
  contact:
    name: Unit
    url: https://www.unit.co
  license:
    name: Proprietary
    url: https://www.unit.co/legal/
servers:
- url: https://api.s.unit.sh
  description: Sandbox (confirmed - default server in Unit's published OpenAPI spec)
- url: https://api.unit.co
  description: Production (industry-standard Unit convention paired with the sandbox host; not independently re-confirmed against a live docs page in this research pass - verify with your Unit solution engineer)
security:
- bearerAuth: []
tags:
- name: Credit and Repayments
  description: Repayments on credit accounts and receivables.
paths:
  /repayments:
    get:
      operationId: getRepaymentsList
      tags:
      - Credit and Repayments
      summary: Get List Repayments
      responses:
        '200':
          $ref: '#/components/responses/ResourceList'
    post:
      operationId: createRepayment
      tags:
      - Credit and Repayments
      summary: Create a Repayment
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
      responses:
        '201':
          $ref: '#/components/responses/SingleResource'
  /repayments/{repaymentId}:
    parameters:
    - name: repaymentId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getRepayment
      tags:
      - Credit and Repayments
      summary: Get Repayment by Id
      responses:
        '200':
          $ref: '#/components/responses/SingleResource'
  /recurring-repayments:
    get:
      operationId: getRecurringRepaymentsList
      tags:
      - Credit and Repayments
      summary: Get List Recurring Repayments
      responses:
        '200':
          $ref: '#/components/responses/ResourceList'
    post:
      operationId: createRecurringRepayment
      tags:
      - Credit and Repayments
      summary: Create a Recurring Repayment
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
      responses:
        '201':
          $ref: '#/components/responses/SingleResource'
  /recurring-repayments/{recurringRepaymentId}:
    parameters:
    - name: recurringRepaymentId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getRecurringRepayment
      tags:
      - Credit and Repayments
      summary: Get Recurring Repayment by Id
      responses:
        '200':
          $ref: '#/components/responses/SingleResource'
  /recurring-repayments/{recurringRepaymentId}/disable:
    parameters:
    - name: recurringRepaymentId
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: disableRecurringRepayment
      tags:
      - Credit and Repayments
      summary: Disable Recurring Repayment by Id
      responses:
        '200':
          $ref: '#/components/responses/SingleResource'
  /recurring-repayments/{recurringRepaymentId}/enable:
    parameters:
    - name: recurringRepaymentId
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: enableRecurringRepayment
      tags:
      - Credit and Repayments
      summary: Enable Recurring Repayment by Id
      responses:
        '200':
          $ref: '#/components/responses/SingleResource'
components:
  responses:
    ResourceList:
      description: A page of JSON:API resources.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/JsonApiListResponse'
    SingleResource:
      description: A single JSON:API resource.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/JsonApiSingleResponse'
  schemas:
    JsonApiSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/JsonApiResource'
        included:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResource'
    JsonApiResource:
      type: object
      properties:
        type:
          type: string
          description: The JSON:API resource type, e.g. individualApplication, depositAccount, individualDebitCard, bookPayment, achPayment.
        id:
          type: string
        attributes:
          type: object
          additionalProperties: true
        relationships:
          type: object
          additionalProperties: true
    JsonApiListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResource'
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                total:
                  type: integer
                limit:
                  type: integer
                offset:
                  type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer JWT issued as an org API token (Dashboard > Developers) or a customer API token. Sent as `Authorization: Bearer ${TOKEN}`. All request and response bodies use the `application/vnd.api+json` JSON:API media type.'
